parameters:
	ignoreErrors:
		-
			message: '#^Cannot call method toISOString\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/AgentConversationListController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\AgentConversation\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/AgentConversationListController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$content\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/AgentLatestMessageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/AgentLatestMessageController.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Api/Mobile/AuthController.php

		-
			message: '#^Call to an undefined method Laravel\\Socialite\\Contracts\\Provider\:\:scopes\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Auth/GoogleAuthController.php

		-
			message: '#^Using nullsafe property access "\?\-\>id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Providers/AppServiceProvider.php
